pre {
    color: #657b83;
    background-color: #fdf6e3;
}
.builtin {
    /* font-lock-builtin-face */
    color: #6c71c4;
}
.comment {
    /* font-lock-comment-face */
    color: #93a1a1;
    font-style: italic;
}
.comment-delimiter {
    /* font-lock-comment-delimiter-face */
    color: #93a1a1;
    font-style: italic;
}
.constant {
    /* font-lock-constant-face */
    color: #268bd2;
}
.doc {
    /* font-lock-doc-face */
    color: #d33682;
}
.extra {
    /* font-lock-extra-face */
    color: #b58900;
}
.function-name {
    /* font-lock-function-name-face */
    color: #b58900;
}
.keyword {
    /* font-lock-keyword-face */
    color: #859900;
}
.rainbow-delimiters-depth-1 {
    /* rainbow-delimiters-depth-1-face */
    color: #657b83;
}
.rainbow-delimiters-depth-2 {
    /* rainbow-delimiters-depth-2-face */
    color: #2aa198;
}
.rainbow-delimiters-depth-3 {
    /* rainbow-delimiters-depth-3-face */
    color: #b58900;
}
.rainbow-delimiters-depth-4 {
    /* rainbow-delimiters-depth-4-face */
    color: #859900;
}
.rainbow-delimiters-depth-5 {
    /* rainbow-delimiters-depth-5-face */
    color: #268bd2;
}
.rainbow-delimiters-depth-6 {
    /* rainbow-delimiters-depth-6-face */
    color: #657b83;
}
.rainbow-delimiters-depth-7 {
    /* rainbow-delimiters-depth-7-face */
    color: #2aa198;
}
.rainbow-delimiters-depth-8 {
    /* rainbow-delimiters-depth-8-face */
    color: #b58900;
}
.rainbow-delimiters-depth-9 {
    /* rainbow-delimiters-depth-9-face */
    color: #859900;
}
.sly-style-warning {
    /* sly-style-warning-face */
    text-decoration: underline;
}
.string {
    /* font-lock-string-face */
    color: #2aa198;
}
.type {
    /* font-lock-type-face */
    color: #268bd2;
}
.variable-name {
    /* font-lock-variable-name-face */
    color: #6c71c4;
}
