* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vmin;
}

#board {
    width: 90vw;
    height: calc(7/8 * 90vw);
}

fieldset {
    width: 80vw;
}

h1, die {
  font-size: 5vmin;
}

#win-message {
    font-size: large;
}

#winner {
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

@media (min-width: 1000px) {
    #board {
        max-width: 12cm;
        max-height: 10.5cm;
    }
    fieldset {
        max-width: 12cm;
    }
    die {
        font-size: 3vmin;
    }
}
