* {font-family: sans-serif;}

body {
    display: grid;
    grid-template-columns:
        minmax(0, 1.2fr)
        minmax(0, 24cm)
        minmax(0, .8fr);
    background: #fafafa;
}

div, pre, img, h1, h2, h3, h4, h5, h6, p {
    grid-column: 2;
}

hr {
    grid-column: 2;
    width: 100%;
}

p {
    font-size: medium;
    line-height: 1.3em;
}

div.code-sample {
    padding: 0;
}

pre {
    padding: 1rem;
    border: .2rem grey solid;
    border-radius: 10px;
    overflow: auto;
}

img {
    border: 1px black solid;
    border-radius: 5px;
    max-width: 100%;
}

code, pre, pre * {font-family: monospace;}

code {
    padding-left: .1rem;
    padding-right: .1rem;
    margin-left: .1rem;
    margin-right: .1rem;
    background: #eee;
    border: 1px #ddd solid;
    border-radius: 5px;
    word-break: keep-all;
}

div.code-sample {
    position: relative;
}

div.code-sample a,
div.code-sample a:visited {
    color: #d33682
}

button.toggle-theme {
    position: absolute;
    top: .5rem;
    right: .5rem;
}

#sitemap {
    position: relative;
    border-radius: 5px;
    grid-column: 2;
    background: #efefef;
    border: 1px black dotted;

    padding: .5rem;
    overflow: auto;
}

#sitemap > li {
    margin-top: .05rem;
    margin-bottom: .05rem;
}

#sitemap > li:before {
    font-family: monospace;
    content: "•";
    padding-right: .3ch;
}

#sitemap > li.H1:before {content:""; padding:0;}
#sitemap > li.H2:before {margin-left: 1ch;}
#sitemap > li.H3:before {margin-left: 3ch;}
#sitemap > li.H4:before {margin-left: 5ch;}
#sitemap > li.H5:before {margin-left: 7ch;}
#sitemap > li.H6:before {margin-left: 9ch;}

#sitemap a, #sitemap a:visited {
    color: blue;
    text-decoration: none;
}

/* desktop only */
@media screen and (min-width: 1350px) {
    #sitemap {
        grid-column: 1;
        border-radius: 0px 5px 5px 0px;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
    }
}

/* mobile only */
@media screen and (max-width: 1350px) {
    div.code-sample, button.toggle-theme {
        font-size: 3vw;
        line-height: 1em;
    }
}
